.MessagingPageContainer {
	/* border: solid 2px red; */
	width: 100%;
	height: 100vh;
	margin-left: 25rem;
	display: flex;
	flex-direction: row;
}

.CreateChatChannel {
	height: 100vh;
	/* border: solid 2px purple; */
	width: 30%;
}

@media screen and (max-width: 800px) {
	.CreateChatChannel {
		display: none;
	}
}

.NewChatSection {
	/* border: solid 2px green; */
	width: 100%;
	/* margin-left: 25rem; */
}

@media screen and (max-width: 1000px) {
	.MessagingPageContainer {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
}

@media screen and (max-width: 1300px) {
	.MessagingPageContainer {
		margin-left: 9rem;
	}
}

@media screen and (max-width: 1000px) {
	.MessagingPageContainer {
		margin-left: 0rem;
	}
}
