.NewChatBody {
	height: 40rem;
}

.modal-content {
	border-radius: 2rem;
	/* border: solid 2px red; */
}

.NewMessageHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem;
	color: white;
}

.HeaderTitle {
	font-size: 2rem;
}

.NewConvoModalClose {
	cursor: pointer;
}

.ConvoSearch {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: solid .05rem rgb(50, 50, 50);
	border-top: solid .05rem rgb(50, 50, 50);
	font-size: 1.5rem;
}

.To {
	font-weight: bold;
	color: white;
	margin-right: 1rem;
	margin-left: 1rem;
	display: flex;
	align-items: center;
}

.NewChatUser {
	display: flex;
	align-items: center;
	margin-left: .5rem;
	border-radius: 1.5rem;
	background-color: rgb(222, 240, 255);
	color: rgb(27, 156, 255);
	padding: .5rem;
}

.NewChatUserInfoDiv {
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1rem;
	white-space: nowrap;
	/* overflow: hidden; */
}

.SearchConvo {
	display: flex;
	align-items: center;
	margin-top: 1.1rem;
}

.ChatSearchResults {
	height: 58%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 1rem;
}

.NoAccountFound {
	color: grey;
	font-size: 1.5rem;
	margin: 2rem;
}

.ChatButton {
	background-color: rgb(39, 39, 39);
	margin-top: 1rem;
	border-radius: 2rem;
}

.StartChatButton {
	width: 95%;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: rgb(27, 156, 255);
	color: white;
	border-color: rgb(27, 156, 255);
}

.StartChatButton:hover {
	font-size: 1.5rem;
	background-color: rgb(47, 165, 255);
	color: white;
	border-color: rgb(47, 165, 255);
}

.StartChatButton:disabled,
.StartChatButton[disabled] {
	background-color: rgb(33, 111, 170);
	color: rgb(91, 133, 165);
	border-color: rgb(33, 111, 170);
}
