.PostImage {
	width: 30rem;
	height: 30rem;
}

@media screen and (max-width: 995px) {
	.PostImage {
		width: 20rem;
		height: 20rem;
	}
}

.CaptionFormContainer {
	margin-top: 5rem;
	border-radius: 1rem;
	background-color: rgb(39, 39, 39);
	height: 45rem;
}

.CaptionFormDiv {
	width: 70%;
}

.NewCaptionPostLabel {
	/* font-size: 2rem; */
	padding-top: .5rem;
	padding-bottom: .5rem;
}

#GoBack {
	font-size: 2rem;
}

.PostButton {
	background-color: rgb(39, 39, 39);
	color: rgb(27, 156, 255);
	border-color: rgb(39, 39, 39);
	font-size: 1.75rem;
}

.PostButton:hover {
	background-color: rgb(39, 39, 39);
	color: white;
	border-color: rgb(39, 39, 39);
	font-size: 1.75rem;
}

.Caption:focus,
.Caption {
	background-color: rgb(39, 39, 39);
	color: white;
	border: none;
	box-shadow: none;
	border-radius: 1rem;
}

.Caption::placeholder {
	/* modern browser */
	color: rgb(71, 71, 71);
}

.GoBack {
	background-color: rgb(39, 39, 39);
	color: white;
	border-color: rgb(39, 39, 39);
}

.GoBack:hover {
	background-color: rgb(39, 39, 39);
	color: white;
	border-color: rgb(39, 39, 39);
}

.ShareControls {
	border-bottom: solid rgb(71, 71, 71) 0.06rem;
	font-size: 2rem;
}

.GoBack,
.PostButton,
.NewCaptionPostLabel {
	padding-bottom: 0rem;
}

.CaptionProfileImage {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	/* content: url('./temp-profile-photo.jpg'); */
	margin-top: .5rem;
	margin-right: .5rem;
}

.CaptionUsername {
	margin-top: 1rem;
	font-size: 1.5rem;
}
