.UploadFormContainer {
	border-radius: 1rem;
	background-color: rgb(39, 39, 39);
	height: 45rem;
	margin-top: 5rem;
	text-align: center;
}

.UploadFormDiv {
	width: 70%;
}

.NewPostLabel {
	border-bottom: solid rgb(71, 71, 71) 0.06rem;
	font-size: 2rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

#GalleryIcon {
	font-size: 6rem;
}

.GalleryIcon {
	margin-top: 10rem;
}

.GalleryIcon p {
	font-size: 1.75rem;
}

/* .Submit {
	background-color: rgb(27, 156, 255);
	font-size: 2rem;
}

.Submit:hover {
	background-color: rgb(0, 126, 222);
	font-size: 2rem;
} */

input[type="file"] {
	display: none;
}

.CustomFileUpload {
	background-color: rgb(27, 156, 255);
	border: none;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: .5rem;
	font-size: 1.75rem;
}
