.UploadFormContainer {
	border-radius: 1rem;
	background-color: rgb(39, 39, 39);
	height: 50rem;
	text-align: center;
	color: white;
	/* border: solid 2px red; */
	width: 100%;
}

.UploadFormDiv {
	height: 50rem;
	width: 100%;
	/* border: solid 2px green; */
	border-radius: 1rem;
}

.NewPostLabel {
	border-bottom: solid rgb(71, 71, 71) 0.06rem;
	font-size: 2rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

#GalleryIcon {
	font-size: 6rem;
}

.GalleryIcon {
	margin-top: 10rem;
}

.GalleryIcon p {
	font-size: 1.75rem;
}

input[type="file"] {
	display: none;
}

.CustomFileUpload {
	background-color: rgb(27, 156, 255);
	border: none;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: .5rem;
	font-size: 1.75rem;
}
