.ImageCard {
	text-align: center;
}

.ImageCard img {
	width: 600px;
}

.ImageCropFormContainer {
	text-align: center;
	/* border: 2px solid green; */
	border-radius: 1rem;
	height: 50rem;
	width: 100%;
}
