.DeleteDiv,
.EditDiv,
.UnfollowPostDiv,
.GoToPostDiv {
	border-bottom: solid rgb(67, 67, 67) 1px;
	width: 100%;
}

.DeletePost,
.DeletePost:hover {
	color: red;
}

.DeletePost,
.Edit,
.UnfollowPostUser,
.GoToPost,
.CancelSettingsButton {
	background-color: rgb(39, 39, 39);
	border-color: rgb(39, 39, 39);
	font-size: 1.5rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.DeletePost:hover,
.Edit:hover,
.UnfollowPostUser:hover,
.GoToPost:hover,
.CancelSettingsButton:hover {
	background-color: rgb(39, 39, 39);
	border-color: rgb(39, 39, 39);
	font-size: 1.5rem;
}
