.SearchBarContainer {
	width: 30rem;
	place-self: center;
}

.SearchInput,
.Search,
.Search:hover {
	background-color: rgb(39, 39, 39);
	font-size: 1.5rem;
	color: white;
}

.SearchInput::placeholder {
	color: rgb(88, 88, 88);
	font-size: 1.5rem;
}

.SearchInput:focus {
	background-color: rgb(39, 39, 39);
	color: white;
}

.SearchInput,
.SearchInput:focus {
	border: none;
	box-shadow: none;
}

@media screen and (max-width: 770px) {
	.SearchBarContainer {
		width: 25rem;
	}
}

@media screen and (max-width: 470px) {
	.SearchBarContainer {
		width: 20rem;
	}
}
