.LogOut,
.YourLikes {
	border-bottom: solid rgb(67, 67, 67) 1px;
	width: 100%;
}

.ModalBody {
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 0rem;
	border-radius: 1rem;
}

.modal-body {
	text-align: center;
}

.YourLikesButton,
.LogOutButton,
.CancelButtonSettings {
	background-color: rgb(39, 39, 39);
	border: none;
	font-size: 2rem;
}

.YourLikesButton:hover,
.LogOutButton:hover,
.CancelButtonSettings:hover {
	background-color: rgb(39, 39, 39);
	border: none;
}

.modal-content {
	background-color: rgb(39, 39, 39);
	align-items: center;
}
