.PostImage {
	width: 25rem;
	height: 25rem;
}

@media screen and (max-width: 995px) {
	.PostImage {
		width: 20rem;
		height: 20rem;
	}
}

.CaptionFormContainer {
	margin-top: 4rem;
	border-radius: 1rem;
	background-color: rgb(39, 39, 39);
	height: 35rem;
}

.NewCaptionPostLabel {
	font-size: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

#GoBack {
	font-size: 2rem;
}

.PostButton {
	background-color: rgb(39, 39, 39);
	color: rgb(27, 156, 255);
	border-color: rgb(39, 39, 39);
}

.PostButton:hover {
	background-color: rgb(39, 39, 39);
	color: white;
	border-color: rgb(39, 39, 39);
}

.Caption:focus,
.Caption {
	background-color: rgb(39, 39, 39);
	color: white;
	border: none;
	box-shadow: none;
}

.Caption::-webkit-input-placeholder {
	color: rgb(71, 71, 71);
}
.Caption:-moz-placeholder {
	/* FF 4-18 */
	color: rgb(71, 71, 71);
	opacity: 1;
}
.Caption::-moz-placeholder {
	/* FF 19+ */
	color: rgb(71, 71, 71);
	opacity: 1;
}
.Caption:-ms-input-placeholder {
	/* IE 10+ */
	color: rgb(71, 71, 71);
}
.Caption::-ms-input-placeholder {
	/* Microsoft Edge */
	color: rgb(71, 71, 71);
}
.Caption::placeholder {
	/* modern browser */
	color: rgb(71, 71, 71);
}

.GoBack {
	background-color: rgb(39, 39, 39);
	color: white;
	border-color: rgb(39, 39, 39);
}

.GoBack:hover {
	background-color: rgb(39, 39, 39);
	color: white;
	border-color: rgb(39, 39, 39);
}

.ShareControls {
	border-bottom: solid rgb(71, 71, 71) 0.06rem;
}

.GoBack,
.PostButton,
.NewCaptionPostLabel {
	padding-bottom: 0rem;
}

.CaptionProfileImage {
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	content: url('./temp-profile-photo.jpg');
	margin-top: .5rem;
	margin-right: .5rem;
}

.CaptionUsername {
	margin-top: 1rem;
}
