.LoginLogo {
	font-family: 'Grand Hotel', cursive;
	font-size: 4rem;
}

.Username,
.Password,
.LoginButton {
	margin-top: 1rem;
}

.Username,
.Password {
	margin-left: 1rem;
	margin-right: 1rem;
	width: 95%;
}

.LoginButton {
	background-color: rgb(27, 156, 255);
	width: 95%;
}

.LoginButton:hover {
	background-color: rgb(0, 126, 222);
}

.LoginFormContainer {
	margin-top: 5rem;
}

.LoginFormDiv {
	width: 100%;
}

.AuthorNoteDivLogin {
	margin-top: 15rem;
}

.AuthorNoteSpan {
	font-size: .75rem;
	color: grey;
}

.Github {
	text-decoration: none;
	color: grey;
	font-size: .75rem;
}

.Github:hover {
	text-decoration: underline;
}

.material-symbols-outlined {
	font-size: .75rem;
}

.RegisterLink {
	text-decoration: none;
	color: rgb(27, 156, 255);
	font-size: 1rem;
}

.Register {
	font-size: 1rem;
}
