a {
	color: white;
	text-decoration: none;
}

.Nav {
	border: solid grey;
	border-width: .01rem;
	background-color: black;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

.NavBarProfile {
	width: 2rem;
	border-radius: 50%;
	margin-top: .5rem;
}
