/* .PostDetailProfileImage {
	width: 2rem;
	border-radius: 50%;
	margin-right: .5rem;
	float: left;
	margin-left: 28rem;
}

.PostDetailUsername {
	float: left;
	margin-left: .5rem;
}

.PostDetailImage {
	width: 40rem;
}

.Parent {
	display: block;
}

.UserDetail {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

#PostOptions,
#Like,
#Comment {
	font-size: 2rem;
	color: white;
}

#Like {
	margin-right: .5rem;
}

#Like,
#Comment {
	float: left;
	margin-top: .5rem;
}

#Like {
	margin-left: 28rem;
}

#Comment {
	margin-left: .5rem;
}

.CaptionUsername {
	font-weight: bold;
	float: left;
	margin-left: -7rem;
	margin-right: .5rem;
}

.PostDetailCaption {
	float: left;
}

.CaptionUsername,
.PostDetailCaption {
	margin-top: 5rem;
}

.PostDetailMain {
	margin-bottom: 7rem;
	color: white;
	margin-left: calc(50% - 306px);
	margin-left: -webkit-calc(50% - 306px);
	margin-left: -moz-calc(50% - 306px);
}

@media only screen and (max-width: 612px) {
	.PostDetailMain {
		margin-left: 0;
		width: 100%;
	}
}

.NumberLikes {
	float: left;
	margin-top: 3rem;
	margin-left: -5rem;
} */
/* 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

/* body {
	font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	background: #fafafa;
} */

.PostDetailContainer .logo {
	display: inline-block;
	cursor: pointer;
}

.action .profile {
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.action .profile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

main .PostDetailContainer {
	position: relative;
	margin-top: 60px;
	width: 75%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	/* background: #ddd; */
}

.col-9 {
	width: 65%;
	margin-top: 30px;
}

.col-9 .card {
	background-color: rgb(39, 39, 39);
	margin-bottom: 20px;
	position: relative;
	width: 100%;
	/* min-height: 400px; */
	display: inline-block;
	border: 1px solid rgba(7, 7, 7, 0.24);
}

.col-9 .card .top {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.col-9 .card .bottom {
	padding: 10px 20px;
}

.col-9 .card .top .userDetails {
	width: 100%;
	display: flex;
	align-items: center;
}

.profilepic {
	display: inline-block;
	cursor: pointer;
}

.profilepic .profile_img {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	width: 2rem;
	height: 2rem;
	/* width: 30px;
	height: 30px; */
	background: linear-gradient(to right, red, orange);
	padding: 2px;
	margin-right: 8px;
	cursor: pointer;
}

.profilepic .profile_img .image {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
}

.profilepic .profile_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.col-9 .card .top .userDetails h3 {
	/* font-size: 16px; */
	color: #ffffff;
	font-weight: 500;
	line-height: 1em;
}

.col-9 .card .top .userDetails h3 span {
	font-size: 0.75em;
}

.dot {
	transform: scale(0.6);
	cursor: pointer;
}

.imgBx {
	position: relative;
	width: 100%;
	min-height: 600px;
	margin: 10px 0 15px;
}

.actionBtns {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.actionBtns svg {
	cursor: pointer;
}

.actionBtns .left svg {
	margin-right: 8px;
}

.likes {
	font-weight: 500;
	margin-top: 5px;
	font-size: 14px;
	color: #ffffff;
}

.message {
	font-weight: 400;
	margin-top: 5px;
	font-size: 14px;
	color: #ffffff;
	line-height: 1.5em;
}

.message b {
	color: #ffffff;
}

.message span {
	cursor: pointer;
	color: #1d92ff;
}

.comments {
	margin-top: 10px;
	font-weight: 400;
	color: #ffffff;
}

.addComments {
	display: flex;
	align-items: center;
	margin-top: 20px;
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

.addComments a {
	color: #1d92ffcb;
	font-weight: 500;
}

.addComments .reaction {
	position: relative;
	font-size: 1.3rem;
	margin-right: 10px;
	color: rgb(88, 88, 88);
}

input.text {
	width: 100%;
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 14px;
	color: #262626;
	background: none;
}

input.text::placeholder {
	color: #777;
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}

@media screen and (max-width: 1000px) {
	.col-9 {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.PostDetailContainer {
		width: 100% !important;
	}

	.PostDetailContainer {
		padding: 15px 10px !important;
	}

	.col-9 {
		margin-top: 4px;
		min-width: 100%;
	}

	.statuses {
		margin-bottom: 0px;
	}

	.col-9 .card {
		margin-bottom: 0px;
		width: 100%;
		border: none;
	}

	.imgBx {
		position: relative;
		width: 100%;
		min-height: 400px;
		margin: 10px 0 15px;
	}
}
