.SignupLogo {
	font-family: 'Grand Hotel', cursive;
	font-size: 4rem;
}

.Email,
.Fullname,
.Username,
.Password,
.SignupButton {
	margin-top: 1rem;
}

.Email,
.Fullname,
.Username,
.Password {
	margin-left: 1rem;
	margin-right: 1rem;
}

.SignupButton {
	background-color: rgb(27, 156, 255);
	width: 95%;
}

.SignupButton:hover {
	background-color: rgb(0, 126, 222);
}

.SignupFormContainer {
	margin-top: 5rem;
}

.SignupFormDiv {
	width: 100%;
}

.LoginLink {
	text-decoration: none;
	color: rgb(27, 156, 255);
	font-size: 1rem;
}

.AuthorNoteDivSignup {
	margin-top: 10rem;
}
